.mat-card {
  padding-bottom: 30px;
  margin-bottom: 10px;
}

.fields, .buttons {
  margin-left: 15px;
  margin-right: 15px;
}

.sign-btn {
  width: 100%;
}

.question-wrapper {
  display: flex;
  justify-content: center;

  .question {
    margin-bottom: 0;
    margin-right: 5px;
    color: rgba(0,0,0,0.54);
  }
  .answer {
    margin-bottom: 0;

    a {
      padding: 0;
      line-height: 0;
      color: #3f51b5;

      &:hover {
        opacity: 0.8;
      }
    }
  }
}
