<div class="card-wrapper">
  <ng-container *ngIf="form">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Sign in to FORTVISION social</mat-card-title>
        </mat-card-header>
        <div class="fields">
          <ng-container *ngIf="getLoginControl() as control">
            <app-form-input
              [formControl]="control"
              formControlLabel="Username or email address"
              formControlType="text"
            ></app-form-input>
          </ng-container>
          <ng-container *ngIf="getPasswordControl() as control">
            <app-form-input
              [formControl]="control"
              formControlLabel="Password"
              formControlType="password"
            ></app-form-input>
          </ng-container>
        </div>
        <p class="error-message" *ngIf="errorMessage">{{errorMessage}}</p>
        <mat-card-actions class="buttons">
          <button
            mat-stroked-button
            class="sign-btn"
            type="submit"
            color="primary"
            [disabled]="!isSubmittingAllowed()"
          >Sign in</button>
        </mat-card-actions>
      </mat-card>
    </form>
    <mat-card>
      <div class="question-wrapper">
        <p class="question">New to FORTVISION social?</p>
        <p class="answer">
          <a mat-button [routerLink]="routerSignUp">Create an account</a>.
        </p>
      </div>
    </mat-card>
  </ng-container>
</div>
