<mat-toolbar>
  <div class="toolbar">
    <span class="toolbar--title">Social Test</span>
    <div class="user">
      <ng-container *ngIf="userSrc else userDefault">
        <img class="user--photo" alt="User photo" [ngSrc]="userSrc" width="38" height="38"/>
      </ng-container>
      <button class="user--btn" mat-icon-button aria-label="User context menu">
        <mat-icon>more_vert</mat-icon>
      </button>
    </div>
  </div>
</mat-toolbar>
<router-outlet></router-outlet>

<ng-template #userDefault>
  <app-user-avatar></app-user-avatar>
</ng-template>
