.mat-toolbar {
  background-color: #fff;
  box-shadow: 0 0 5px 0 rgba(0,0,0,0.54);

  .toolbar {
    display: flex;
    justify-content: space-between;
    width: 850px;
    margin: 0 auto;

    &--title {
      color: #3f51b5;
    }

    .user {
      display: flex;
      position: relative;
      right: 120px;
      max-height: 38px;

      &--photo {
        width: 38px;
        height: 38px;
        border-radius: 50%;
      }

      &--btn {
        margin-left: 2px;
        color: #3f51b5;
      }
    }
  }
}
