<mat-card class="post">
  <mat-card-header>
    <div class="avatar-wrapper" mat-card-avatar *ngIf="postInfo?.userInfo?.avatar as avatar else avatarDefault">
      <app-user-avatar [src]="avatar" [alt]="'avatar user of post'" [width]="38" [height]="38"></app-user-avatar>
    </div>
    <mat-card-title>{{postInfo?.userInfo?.name}}</mat-card-title>
    <mat-card-subtitle>
      <a href="/home" aria-label="Link on profile user of post">{{postInfo?.userInfo?.username}}</a>
    </mat-card-subtitle>
    <div class="date-time">
      <p class="date">{{postInfo?.timestamp?.date}}</p>
      <p class="time">{{postInfo?.timestamp?.time}}</p>
    </div>
  </mat-card-header>
  <ng-container *ngIf="postInfo?.content?.img as src">
    <img class="content-img" mat-card-image [ngSrc]="src" alt="Post graphic content" width="494" height="400" priority>
  </ng-container>
  <mat-card-content>
    <p>{{postInfo?.content?.text}}</p>
  </mat-card-content>
  <mat-card-actions>
    <div class="btn like-btn">
      <button mat-icon-button color="warn" aria-label="Example icon button with a heart icon">
        <mat-icon>favorite</mat-icon>
      </button>
      <span>{{postInfo?.likes === 0 ? '' : postInfo?.likes}}</span>
    </div>
    <div class="btn btn--comment">
      <button mat-icon-button aria-label="Example icon button with a heart icon" (click)="toggleViewComments()">
        <mat-icon>comment</mat-icon>
      </button>
      <span>{{postInfo?.comments?.length === 0 ? '' : postInfo?.comments?.length}}</span>
    </div>
    <div class="btn btn--share">
      <button mat-icon-button aria-label="Example icon button with a heart icon">
        <mat-icon>share</mat-icon>
      </button>
    </div>
  </mat-card-actions>
  <div *ngIf="postInfo?.comments && isCommentsOpened">
    <app-comments [comments]="postInfo?.comments"></app-comments>
  </div>
</mat-card>

<ng-template #avatarDefault>
  <app-user-avatar></app-user-avatar>
</ng-template>
